<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
</head>
<body>
    <!-- <img src="https://vuejs.org/images/logo.png" alt="Vue logo"> -->
    <div id="app">
      <div id="myVueApp7">
        <ol>
          <todo-item><todo-item>
          </ol>
        </div>
    <h1>{{ greeting }}</h1>
    <p>  {{ message }}</p>
    <ul>
      <li>
        To learn more about Vue, visit
        <a :href="docsURL" target="_blank">
          {{ humanizeURL(docsURL) }}
        </a>
      </li>
    </ul>
  </div>
  <!-- <div id="myVueApp2" v-bind:title="titleMessage">
  {{ message }}{{ appTitle }}
</div> -->
  <div id="myVueApp4">
    <ol>
      <li v-for="order_id in order_ids">
      {{ order_id.text }}
      </li>
    </ol>
  </div>
  <div id="myVueApp5">
  <!-- <p> {{ sometext }} </p> -->
  <div v-if="feedback_submitted"></div>
   <div v-else>
     <button v-on:click="reverseMessage"> >Feedback< </button>
     <!-- {{someData}} -->
   </div>

</div>
<!-- <div id="myVueApp6">
<p> {{ message }} </p>
<input v-model="message">
</div> -->

  <script>
  Vue.component('todo-item', {
    template: `<li> A todo-item </li>`
  })
  var vm7 = new Vue({
    el: '#myVueApp7'
  })
  // var vm6 = new Vue({
  // el: '#myVueApp6',
  // data: {
  //   message: 'Hello Vue.js!'
  // }
  // })
    var app = new Vue({
      el: '#app',
      data: {
        greeting: 'Welcome to your Vue.js app!',
        message: 'Nikita was here',
        docsURL: 'http://vuejs.org/guide/',
        discordURL: 'https://chat.vuejs.org',
        forumURL: 'http://forum.vuejs.org/'
      },
      methods: {
        humanizeURL: function (url) {
          return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        }
      }
    })
    // var myVueApp2 = new Vue({
    //   el: '#myVueApp2',
    //   data: {
    //     titleMessage: 'test ttitle',
    //     message: 'this is another id',
    //     appTitle: 'my app second'
    //   }
    // })
  var vm4 = new Vue({
    el: '#myVueApp4',
    data: {
      order_ids: [
        { text: 'GO123' },
        { text: 'GO124' },
        { text: 'GO125' }
      ]
      // vm4.order_ids.push({text: 'GO126'})
    }, methods:{
      onLoadList: function () {

      this.$http.get('http://localhost:3000/orders').then(response => {
        this.someData = response.body;
        console.log(this.someData)
      }, response => {
        // error callback
      });
      }
    }
    })

  var vm5 = new Vue({
  el: '#myVueApp5',
  data: {
    // sometext: 'Give Feedback!',
    feedback_submitted: false,
    someData:[]
  },
  methods: {
    reverseMessage: function () {
      // this.sometext = this.sometext.split('').reverse().join('')
        this.$http.get('http://localhost:3000/orders').then(response => {
          this.get = response.body;
          console.log(this.someData)
        }, response => {
          // error callback
        });

    }
  }
})

  </script>
</body>
</html>
